numpy
pandas
scikit-learn
tensorflow
keras
matplotlib
seaborn
optuna
opencv-python
Pillow

# Core ML
torch>=2.0.0
torchvision>=0.15.0

# Data & config handling
PyYAML

# Logging (optional but recommended)
tqdm
wandb

# BOHB + Config sampling
ConfigSpace>=0.6.0
